<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.tracer.futures-watchdog</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/mouryadamarasing/Documents/Project-Tracer-Bullet/scripts/watchdog_futures.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/mouryadamarasing/Documents/Project-Tracer-Bullet</string>
  <key>StandardOutPath</key>
  <string>/Users/mouryadamarasing/Documents/Project-Tracer-Bullet/futures_watchdog.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/mouryadamarasing/Documents/Project-Tracer-Bullet/futures_watchdog.err</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/mouryadamarasing</string>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/bin:/bin:/opt/homebrew/bin</string>
  </dict>
  <key>StartInterval</key>
  <integer>300</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <true/>
  </dict>
</dict>
</plist>
